.item-detail-container__item{
    border: 2px solid bisque;
    margin: 25px;
    background: bisque;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}