.contact-us-container {
  .container-title {
    margin-bottom: 45px;
    width: 90%;
    border-radius: 4px;
  }

  .contact-us-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 85%;
    gap: 1rem;
    margin: auto;
    max-width: 450px;

    input {
      height: 35px;
      font-size: 1rem;
      padding-left: 10px;
    }

    p {
      margin-top: -15px;
      color: #ed4337;
      font-size: 0.85rem;
      width: fit-content;
      border-radius: 2px;
    }

    button {
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-us-container {
    margin-top: 80px;
    .container-title {
      max-width: 800px;
    }
  }
}
