//

.contact-us-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // padding: 50px;

  .contact-us-form {
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    margin: auto;
    max-width: 750px;

    input {
      font-size: 1.75rem;
      padding: 5px 10px 5px;
    }

    label {
      color: #ed4337;
      font-size: 1.5rem;
      margin-bottom: 5px;
      background: wheat;
      width: fit-content;
      border-radius: 2px;
      padding: 0 5px;
    }

    textarea {
      padding: 10px 10px 5px;
      min-height: 140px;
    }

    button {
      height: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  // .contact-us-right {
  //   margin: auto;
  //   width: 100%;
  // }
}

@media screen and (min-width: 992px) {
  // .contact-us-container {
  //   display: grid;
  //   grid-template-rows: repeat(2, auto);
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-areas:
  //     " area1 area2 area2 area3"
  //     " area1 area4 area5 area3";

  //   .contact-us-left {
  //     text-align: left;
  //     grid-area: area4;
  //     h3 {
  //       margin: 0 0 10px;
  //     }
  //   }
  // }

  // .contact-us-section__title {
  //   grid-area: area2;
  // }

  // .contact-us-right {
  //   grid-area: area5;
  //   max-width: 550px;
  // }
}
