.checkout-container {
  h2 {
    &:not(:first-child) {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .checkout-container {
    margin-bottom: 150px;

    h2 {
      &:not(:first-child) {
        font-size: 1.5rem;
      }
    }
  }
}
