.order-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 25px;

  h2 {
    font-size: 2rem;
  }
}

.checkout-list {
  border: 1px solid rgb(75, 75, 75);
  width: 95%;
  margin: auto;
  max-width: 1200px;

  thead {
    th {
      text-decoration: underline;
    }
  }
}
