.item-detail-container__item {
  button {
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    border: 0.5px solid rgb(144, 144, 144);
    &:hover {
      cursor: pointer;
    }

    &:active {
      background: #ffcd93;
    }

    a {
      padding: 5px;
      text-decoration: none;
      color: inherit;
    }
  }
}
