.container-title {
  margin: auto;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 60px;
  background: #d5a727;
  margin-top: 50px;
}

.item-list__title {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  font-size: 2rem;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  border-top: 3px solid #a5a509;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 300px auto 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
