.cart__container {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  h2 {
    &:not(:first-child) {
      font-size: 1.2rem;
    }
  }

  a {
    color: inherit;
  }
}

@media screen and (min-width: 768px) {
  .cart__container {
    margin-bottom: 150px;

    h2 {
      &:not(:first-child) {
        font-size: 1.5rem;
      }
    }
  }

  .cart-container__list {
    width: 80%;
    max-width: 1200px;
  }
}
