.navbar-container__list {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  gap: 25px;

  transition: 0.5s ease-in;
  padding: 20px 0;

  a {
    color: inherit;
    padding: 15px;
    text-decoration: none;
  }

  li {
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-container__list.active {
  left: 0;
  background: white;
}
