.checkout-item {
  .checkout-item__img {
    width: 15%;

    img {
      width: 100%;
    }
  }

  .checkout-item__name {
    width: 25%;

    h2 {
      width: 90px;
      margin: auto;
      font-size: 0.8rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .checkout-item__qty {
    h2 {
      font-size: 1rem;
    }
  }

  .checkout-item__price {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .checkout-item {
    .checkout-item__name {
      h2 {
        font-size: 1rem;
        width: fit-content;
      }
    }

    .checkout-item__qty {
      h2 {
        font-size: 1.2rem;
      }
    }

    .checkout-item__price {
      font-size: 0.8rem;
    }
  }
}
