.cart-item {
  .cart-item__img {
    width: 15%;

    img {
      width: 100%;
    }
  }

  .cart-item__name {
    width: 25%;
    h2 {
      font-size: 0.8rem;
    }
  }

  .cart-item__options {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      padding: 2.5px;
    }
  }
}
