nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;

  a {
    font-family: "Share Tech Mono", monospace;
  }

  > a:first-child {
    font-size: 2rem;
    height: 65px;
    width: 65px;
    font-family: "Share Tech Mono", monospace;
    text-decoration: none;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    outline: 1px solid white;
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
