@import "./Components/ItemListContainer/ItemListContainer.scss";
@import "./Components/ItemList/ItemList.scss";
@import "./Components/NavBarContainer/NavBarContainer.scss";
@import "./Components/NavBarList/NavBarList.scss";
@import "./Components/Item/Item.scss";
@import "./Components/ItemDetail/ItemDetail.scss";
@import "./Components/ItemCount/ItemCount.scss";
@import "./Components/CartItem/CartItem.scss";
@import "./Components/Form/ContactForm.scss";
@import "./Components/AfterAddToCartOptions/AfterAddToCartOptions.scss";
@import "./Components/CartWidget/CartWidget.scss";
@import "./Components/CartContainer/CartContainer.scss";
@import "./Components/CheckOutList/CheckOutList.scss";
@import "./Components/CheckOutContainer/CheckOutContainer.scss";
@import "./SassStyles/breakpoints.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
