.item-list-container__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d5a727;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .item-list-container__list {
    flex-direction: row;
    align-items: stretch;
  }
}
